@use 'theme';
@use 'helpers';

.container {
  @include theme.spacing;
}

.link {
  text-decoration: none;
  color: hsl(350, 90%, 10%);

  &:hover {
    color: hsl(350, 100%, 80%);
  }
}

.postlist {
  @include helpers.list-reset;

  & > li {
    margin: 2rem 0;

    &:first-child {
      margin: 0;
    }
  }
}

.taglist {
  @include helpers.list-reset;
  display: flex;

  & > li {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.date {
  color: hsl(210, 13%, 50%);
  font-size: 0.9rem;
}
