@use 'theme';

.container {
  @include theme.spacing;
  max-width: 44em;
  margin: 0 auto;
}

.header {
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 0.5rem;
}

.footer {
  display: flex;
}

.next {
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: hotpink;

  &:hover {
    color: pink;
  }
}
